<span class="symbol" aria-hidden="true">
  <svg width="32" height="32" viewBox="0 0 32 32" fill="none">
    <path
      d="M24 8H11.5C8.7 8 7 9.6 7 12C7 14.4 8.8 16 11.5 16H20.5C23.2 16 25 17.6 25 20C25 22.4 23.3 24 20.5 24H8"
      stroke="currentColor"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</span>

<style lang="scss">
  @use '../styles/tokens' as *;

  .symbol {
    display: grid;
    place-items: center;
    width: 32px;
    height: 32px;
    color: $text-primary;

    svg { display: block; }
  }
</style>
